{{#each files as |file|}}
{{#[utils/compare] loading '===' null}}
<tr>
  {{else}}
<tr data-container="{{file.container}}">
  {{/[utils/compare]}}
  <td></td>
  <td>{{~file.filename~}}</td>
  <td class="center">{{~file.type~}}</td>
  <td class="center">{{~[format/bytes] file.size~}}</td>
  <td>{{~[format/date] file.dateCreated 'DD/MM/YYYY HH:mm'~}}</td>
</tr>
{{else}}
{{#[utils/compare] loading '===' true}}
<tr>
  <td></td>
  <td class="no-data" colspan="4">
    <span class="loading">
      Fetching data...
      <i class="fas fa-spinner"></i>
    </span>
  </td>
</tr>
{{else}}
<tr>
  <td></td>
  <td class="no-data" colspan="4">No file found ☹️</td>
</tr>
{{/[utils/compare]}}
{{/each}}
