{{#each functions as |function|}}
<div class="grid-item" id="func-infos" data-func="{{function._id}}">
  <div class="left">
    <div class="label">
      <h3>
        {{function.label}}
      </h3>
    </div>
    {{#[utils/compare] function.enabled '===' true}}
    <p class="state-indic state-enabled">
      <i class="fas fa-circle"></i>
      Enabled
    </p>
    {{else}}
    <p class="state-indic state-disabled">
      <i class="fas fa-circle"></i>
      Disabled
    </p>
    {{/[utils/compare]}}
    <div class="infos">
      <p class="info">
        <i class="fas fa-box-open"></i>
        {{~function.container~}}
      </p>
    </div>
  </div>
  <div class="right">
    <div class="actions">
      <p class="action">
        <button id="edit">Edit</button>
      </p>
      <p class="action">
        {{#[utils/compare] function.enabled '===' true}}
        <button id="state">Disable</button>
        {{else}}
        <button id="state">Enable</button>
        {{/[utils/compare]}}
      </p>
      <p class="action">
        <button id="delete">Delete</button>
      </p>
    </div>
  </div>
</div>
{{else}}
{{#[utils/compare] loading '===' true}}
<div class="grid-item">
  <div class="loading-item">
    <span class="loading">
      Fetching data...
      <i class="fas fa-spinner"></i>
    </span>
  </div>
</div>
{{else}}
<div class="grid-item">
  <div class="not-found">
    <p>No functions found ☹️</p>
  </div>
</div>
{{/[utils/compare]}}
{{/each}}
