{{#each jobs as |job|}}
<div class="grid-item" id="job-infos" data-job="{{job._id}}">
  <div class="left">
    <div class="label">
      <h3>
        {{~job.label~}}
      </h3>
    </div>
    {{~#[utils/compare] job.state '===' 'canceled'~}}
    <div class="job-canceled">
      <p>
        <i class="fas fa-ban"></i>
        Job Canceled
      </p>
    </div>
    {{~/[utils/compare]~}}
    <div class="infos">
      {{~#[utils/compare] job.state '===' 'completed'~}}
      <p class="info">
        <i class="fas fa-check"></i>
        Completed on :
        {{#[format/date] job.completedOn 'DD/MM/YYYY'~}}{{~/[format/date]}}
        @
        {{#[format/date] job.completedOn 'HH:mm'~}}{{~/[format/date]~}}
      </p>
      {{~else~}}
      <p class="info">
        <i class="fas fa-paper-plane"></i>
        Started on :
        {{#[format/date] job.startedOn 'DD/MM/YYYY'~}}{{~/[format/date]}}
        @
        {{#[format/date] job.startedOn 'HH:mm'~}}{{~/[format/date]~}}
      </p>
      {{~/[utils/compare]~}}
    </div>
  </div>
  <div class="right">
    {{~#[utils/compare] job.state '===' 'started'~}}
    <div class="process">
      <div class="state">
        <i class="fas fa-circle-notch"></i>
      </div>
      <div class="task">
        {{~#[jobs/is-started-task] job.tasks~}}
        <p>Running task <strong>{{this}} / {{[jobs/total-tasks] job.tasks~}}</strong></p>
        {{else}}
        <p>Initializing job</p>
        {{~/[jobs/is-started-task]}}
      </div>
    </div>
    {{~else~}}
    <div class="actions">
      {{~#[utils/compare] job.state '===' 'completed'~}}
      <div class="action">
        <button id="action">Action</button>
      </div>
      {{~else~}}
      <div class="action">
        <button id="restart">Restart</button>
      </div>
      <div class="action">
        <button id="delete">Delete</button>
      </div>
      {{~/[utils/compare]~}}
    </div>
    {{~/[utils/compare]~}}
  </div>
</div>
{{else}}
{{#[utils/compare] loading '===' true}}
<div class="grid-item">
  <div class="loading-item">
    <span class="loading">
      Fetching data...
      <i class="fas fa-spinner"></i>
    </span>
  </div>
</div>
{{else}}
<div class="grid-item">
  <div class="not-found">
    <p>No job found ☹️</p>
  </div>
</div>
{{/[utils/compare]}}
{{/each}}
