{{#each files as |file|}}
<option value="{{file.filename}}.{{~file.type}}">{{file.filename}}.{{~file.type}}</option>
{{else}}
{{#[utils/compare] loading '===' true}}
<option disabled>Fetching data...</option>
{{else}}
<option disabled>No file found</option>
{{/[utils/compare]}}
{{/each}}