{{#each sources as |source|}}
{{#[utils/compare] source.enabled '===' true}}
{{#[utils/compare] source.default '===' true}}
<option value="{{~source.slug~}}" data-editable="{{~source.editableFiles~}}" selected>{{~source.label~}}</option>
{{else}}
<option value="{{~source.slug~}}" data-editable="{{~source.editableFiles~}}">{{~source.label~}}</option>
{{/[utils/compare]}}
{{else}}
<option value="{{~source.slug~}}" data-editable="{{~source.editableFiles~}}" disabled>{{~source.label~}}</option>
{{/[utils/compare]}}
{{else}}
{{#[utils/compare] loading '===' true}}
<option disabled>Fetching data...</option>
{{/[utils/compare]}}
{{/each}}
