<div class="switch-group switch-large bottom-space">
  <input type="radio" id="switch-models" name="files" value="models" />
  <label for="switch-models">
    {{~#[utils/compare] totalModel '===' 1~}}
    Model
    {{~else~}}
    Models
    {{~/[utils/compare]~}}
    <span class="badge badge-inverse badge-right">{{~totalModel~}}</span>
  </label>
  <input type="radio" id="switch-raw" name="files" value="raw" />
  <label for="switch-raw">
    {{~#[utils/compare] totalRaw '===' 1~}}
    Raw File
    {{~else~}}
    Raw Files
    {{~/[utils/compare]~}}
    <span class="badge badge-inverse badge-right">{{~totalRaw~}}</span>
  </label>
  <input type="radio" id="switch-features" name="files" value="features" />
  <label for="switch-features">
    {{~#[utils/compare] totalFeature '===' 1~}}
    Feat. File
    {{~else~}}
    Feat. Files
    {{~/[utils/compare]~}}
    <span class="badge badge-inverse badge-right">{{~totalFeature~}}</span>
  </label>
</div>
{{> ../../../search/search}}
<div class="grid-container" id="files">
  {{> ../../../filters/files/filters}}
  <div class="grid-files">
    {{#files}}{{> file-list}}{{/files}}
  </div>
</div>
