<h1>{{title}}</h1>

<div class="grid-container" id="users-admin">
  <h2>
    {{#[utils/compare] totalAdmin '===' 1}}
    Administrator
    {{else}}
    Administrators
    {{/[utils/compare]}}
    <span class="badge">{{totalAdmin}}</span>
  </h2>
  {{#> users-filter}}{{/users-filter}}
  <div class="grid-users">
    {{#administrators}}{{> users-list}}{{/administrators}}
  </div>
</div>

<div class="grid-container" id="users-normal">
  <h2>
    {{#[utils/compare] totalNormal '===' 1}}
    User
    {{else}}
    Users
    {{/[utils/compare]}}
    <span class="badge">{{totalNormal}}</span>
  </h2>
  {{#> users-search}}{{/users-search}}
  {{#> users-filter}}{{/users-filter}}
  <div class="grid-users">
    {{#users}}{{> users-list}}{{/users}}
  </div>
</div>
