<div class="form-infos form-infos-modal">
  <div class="form">
    <form action="#">
      <label for="label"></label>
      {{#if label}}
        <input type="text" id="label" name="label" autocomplete="false" value="{{label}}" required />
      {{else}}
        <input type="text" id="label" name="label" autocomplete="false" placeholder="Label" required />
      {{/if}}
      <label for="domain"></label>
      <select id="domain">
        {{#if domain}}
          {{#[utils/compare] domain '===' 'time'}}
              <option value="time" selected>Time</option>
              <option value="frequential">Frequential</option>
          {{else}}
              <option value="time">Time</option>
              <option value="frequential" selected>Frequential</option>
          {{/[utils/compare]}}
        {{else}}
            <option value="time" selected>Time</option>
            <option value="frequential">Frequential</option>
        {{/if}}
      </select>
      <label for="container"></label>
      {{#if container}}
        <input type="text" id="container" name="container" autocomplete="false" value="{{container}}" required />
      {{else}}
        <input type="text" id="container" name="container" autocomplete="false" placeholder="Container Name" required />
      {{/if}}
      <label for="enabled"></label>
      <select id="enabled">
        {{#if enabled}}
            <option value="true" selected>Enabled</option>
            <option value="false">Disabled</option>
        {{else}}
            <option value="true">Enabled</option>
            <option value="false" selected>Disabled</option>
        {{/if}}
      </select>
    </form>
  </div>
</div>
